@use '../../admin/components/nav.scss';

:root {
  --esmera-primary: #324f46;
}

html,
body {
  background: #f9f9ff;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.template-default__wrap {
  background: #f9f9ff;
}
